Repository boostcampwm-2022/web30-TODY, pull requests merged in 2022-11, with the labels that each got.

#2 frontend 개발 환경 설정
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: 🎨 frontend, 🛠 setting

#20 DB 연동 및 ORM 설정
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/comment/comment.module.ts
  backend/src/comment/entities/comments.entity.ts
  backend/src/question-board/entities/image.entity.ts
  backend/src/question-board/entities/questionBoard.entity.ts
  backend/src/question-board/question-board.module.ts
  backend/src/study-room/entities/studyRoom.entity.ts
  backend/src/study-room/study-room.module.ts
  backend/src/user/entities/user.entity.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
Labels: 🛠 setting

#19 공부방 목록 페이지 레이아웃
  frontend/src/App.tsx
  frontend/src/assets/icons/create.svg
  frontend/src/assets/icons/hashtag.svg
  frontend/src/assets/icons/king.svg
  frontend/src/assets/icons/leftArrow.svg
  frontend/src/assets/icons/participants.svg
  frontend/src/assets/icons/rightArrow.svg
  frontend/src/assets/icons/user.svg
  frontend/src/components/common/CreatButton.tsx
  frontend/src/components/common/CustomButton.tsx
  frontend/src/components/common/MainSideBar.tsx
  frontend/src/components/common/MenuList.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/common/UserProfile.tsx
  frontend/src/components/studyRoomList/StudyRoomItem.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
  frontend/src/styles/index.css
Labels: 🎨 frontend

#22 API 호출 위한 설정
  backend/src/main.ts
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
Labels: 🛠 setting

#26 CI/CD 개선 - 프론트엔드 env 파일 생성
  .github/workflows/cd-frontend.yml
  .github/workflows/ci-frontend.yml
  frontend/src/index.tsx
Labels: 🛠 setting

#24 로그인 API 생성 및 프론트엔드 적용
  backend/package-lock.json
  backend/package.json
  backend/src/comment/entities/comments.entity.ts
  backend/src/question-board/entities/questionBoard.entity.ts
  backend/src/user/dto/user.dto.ts
  backend/src/user/user.controller.spec.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.module.ts
  backend/src/user/user.service.spec.ts
  backend/src/user/user.service.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/axios/instances/axiosBackend.ts
  frontend/src/axios/requests/signupRequest.ts
  frontend/src/components/common/CustomButton.tsx
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/hooks/useAxios.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Labels: 🎨 frontend, 💻 backend

#23 새로운 공부방 생성
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/study-room/dto/createRoom.dto.ts
  backend/src/study-room/entities/studyRoom.entity.ts
  backend/src/study-room/study-room.controller.spec.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.module.ts
  backend/src/study-room/study-room.service.spec.ts
  backend/src/study-room/study-room.service.ts
  backend/src/user/entities/user.entity.ts
  backend/src/utils/dateFormatter.ts
  frontend/src/components/common/CustomButton.tsx
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/common/Modal.tsx
  frontend/src/components/studyRoomList/TagInput.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend, 💻 backend

#29 Feat/redis
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/main.ts
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.module.ts
  backend/src/redis/redis-cache.service.ts
  backend/src/study-room/study-room.module.ts
  backend/src/study-room/study-room.service.ts
  backend/src/user/user.module.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/assets/loader.svg
  frontend/src/assets/logo.svg
  frontend/src/assets/logoWithName.svg
  frontend/src/assets/tody.svg
  frontend/src/axios/requests/createStudyRoomRequest.ts
  frontend/src/axios/requests/getStudyRoomListRequest.ts
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/common/Loader.tsx
  frontend/src/components/common/Loading.tsx
  frontend/src/components/common/MainSideBar.tsx
  frontend/src/components/common/MenuList.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/studyRoomList/StudyRoomItem.tsx
  frontend/src/components/studyRoomList/StudyRoomList.tsx
  frontend/src/components/studyRoomList/studyRoomList.types.ts
  frontend/src/pages/InitPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
  frontend/src/routes/Router.tsx
Labels: 🛠 setting, 💻 backend

#30 #18 feat: 공부방 목록 api 참여가능한 방 필터링 유무 적용
  backend/src/study-room/entities/studyRoom.entity.ts
  backend/src/study-room/study-room.service.ts
  backend/src/user/entities/user.entity.ts
Labels: 💻 backend

#31 Feat/redis
  frontend/src/components/common/MainSideBar.tsx
  frontend/src/pages/LoginPage.tsx
Labels: 🎨 frontend

#34 로그인, 회원가입 페이지 입력값 유효성 검증
  backend/src/user/user.controller.ts
  frontend/src/axios/requests/checkUniqueIdRequest.ts
  frontend/src/axios/requests/checkUniqueNicknameRequest.ts
  frontend/src/axios/requests/loginRequest.ts
  frontend/src/hooks/useAxios.ts
  frontend/src/hooks/useInputValidation.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Labels: 🎨 frontend

#37 로그인 유지 및 로그아웃 기능 추가
  backend/package-lock.json
  backend/package.json
  backend/src/config/cors.config.ts
  backend/src/main.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/user/user.controller.ts
  backend/src/user/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/axios/requests/loginRequest.ts
  frontend/src/axios/requests/logoutRequest.ts
  frontend/src/axios/requests/silentLoginRequest.ts
  frontend/src/components/common/MainSideBar.tsx
  frontend/src/components/common/UserProfile.tsx
  frontend/src/index.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/recoil/atoms.ts
Labels: 🎨 frontend, 💻 backend

#38 공부방 페이지 webRTC(Mesh 방식) 적용
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.service.ts
  backend/src/socket/socket.gateway.ts
  backend/src/socket/socket.module.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/icons/canvas.svg
  frontend/src/assets/icons/chat.svg
  frontend/src/assets/icons/down-triangle.svg
  frontend/src/assets/icons/mic-off.svg
  frontend/src/assets/icons/mic.svg
  frontend/src/assets/icons/video-off.svg
  frontend/src/assets/icons/video.svg
  frontend/src/axios/requests/getParticipantsListRequest.ts
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/components/studyRoom/ParticipantsSideBar.tsx
  frontend/src/components/studyRoom/RemoteVideo.tsx
  frontend/src/components/studyRoom/SpeechBubble.tsx
  frontend/src/components/studyRoom/VideoItem.tsx
  frontend/src/components/studyRoomList/StudyRoomItem.tsx
  frontend/src/components/studyRoomList/TagInput.tsx
  frontend/src/pages/StudyRoomListPage.tsx
  frontend/src/pages/StudyRoomPage.tsx
  frontend/src/routes/Router.tsx
  frontend/src/styles/index.css
  package-lock.json
Labels: 🎨 frontend, 💻 backend

#39 backend cd 수정
  .github/workflows/cd-backend.yml
  backend/package-lock.json
  backend/src/study-room/study-room.controller.ts
Labels: 💻 backend

#41 fix cd-backend
  .github/workflows/cd-backend.yml
  backend/package.json
Labels: 💻 backend

#42 version 0.0.3
  .github/workflows/cd-backend.yml
  backend/package.json
Labels: 💻 backend

#48 스타일 수정
  frontend/src/components/common/CustomButton.tsx
  frontend/src/index.tsx
  frontend/src/pages/MainPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend

#49 푸시 누락된 부분 반영
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.service.ts
  frontend/src/components/studyRoomList/StudyRoomItem.tsx
  frontend/src/components/studyRoomList/StudyRoomList.tsx
  frontend/src/pages/StudyRoomPage.tsx
Labels: 🎨 frontend, 💻 backend

#53 #52 test: backend study-room test 코드 수정
  backend/src/study-room/study-room.controller.spec.ts
  backend/src/study-room/study-room.service.spec.ts
Labels: 💻 backend, 📈test
