Repository boostcampwm-2022/web30-TODY, pull requests merged in 2022-12, with the labels that each got.

#58 local video 요소 muted 속성 추가
  frontend/src/pages/StudyRoomPage.tsx
Labels: 🎨 frontend, 🚨fix

#60 회원가입 버튼 disabled 조건 버그 수정
  frontend/src/pages/SignupPage.tsx
Labels: 🎨 frontend, 🚨fix

#63 #62 feat: webrtc - mesh 방식 -> sfu 방식 적용
  backend/package-lock.json
  backend/package.json
  backend/src/main.ts
  backend/src/mediaServer/mediaServer.gateway.ts
  backend/src/mediaServer/mediaServer.module.ts
  frontend/src/components/studyRoom/RemoteVideo.tsx
  frontend/src/index.tsx
  frontend/src/pages/StudyRoomPage.tsx
Labels: 🎨 frontend, 💻 backend

#66 TURN 서버 구축 및 설정
  backend/src/mediaServer/mediaServer.gateway.ts
  frontend/src/pages/StudyRoomPage.tsx
Labels: 🚨fix

#76 cd-media-server workflow 수정
  .github/workflows/cd-media-server.yml
Labels: 🚨fix

#78 Mesh페이지 라우팅
  frontend/src/components/studyRoom/RemoteVideo.tsx
  frontend/src/pages/MeshPage.tsx
  frontend/src/routes/Router.tsx
Labels: 🎨 frontend

#100 공부방 입장, 퇴장, 삭제 구현
  .DS_Store
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.service.ts
  backend/src/study-room/dto/createRoom.dto.ts
  backend/src/study-room/entities/studyRoom.entity.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  backend/src/user/user.controller.ts
  frontend/src/axios/requests/checkMasterRequest.ts
  frontend/src/axios/requests/createStudyRoomRequest.ts
  frontend/src/axios/requests/deleteRoomRequest.ts
  frontend/src/axios/requests/enterRoomRequest.ts
  frontend/src/axios/requests/leaveRoomRequest.ts
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/components/studyRoomList/StudyRoomItem.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend, 💻 backend

#101 공부방 페이지 내 캔버스 공유
  backend/src/sfu/sfu.gateway.ts
  backend/src/utils/sendDcBodyFormatter.ts
  frontend/src/components/studyRoom/Canvas.tsx
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 💻 backend

#105 게스트 접근 비허용 처리
  frontend/src/App.tsx
  frontend/src/components/common/PrivateRoute.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/routes/Router.tsx
Labels: 🎨 frontend

#107 Feat/screen share
  frontend/src/assets/icons/monitor-off.svg
  frontend/src/assets/icons/monitor.svg
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend

#110 useAxios 훅 개선 - onMount 옵션 추가
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/hooks/useAxios.ts
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend

#112 공부방 입장 제어 - 포화 공부방, 복수 입장 비허용
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.service.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  frontend/src/axios/requests/checkIsFullRequest.ts
  frontend/src/axios/requests/checkIsInRoomRequest.ts
  frontend/src/components/common/StudyRoomGuard.tsx
  frontend/src/routes/Router.tsx
Labels: 🎨 frontend, 💻 backend

#113 전역 채팅 컴포넌트 분리 및 css 스타일 수정
  frontend/src/assets/icons/down-triangle.svg
  frontend/src/components/common/CreatButton.tsx
  frontend/src/components/studyRoom/Canvas.tsx
  frontend/src/components/studyRoom/ChatItem.tsx
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/components/studyRoom/RemoteVideo.tsx
  frontend/src/components/studyRoomList/GlobalChat.tsx
  frontend/src/components/studyRoomList/StudyRoomList.tsx
  frontend/src/components/studyRoomList/StudyRoomListChatBar.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend

#116 공부방 페이지 URL로 접속 가능
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  frontend/src/axios/requests/getStudyRoomInfoRequest.ts
  frontend/src/components/studyRoom/ParticipantsSideBar.tsx
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 💻 backend

#118 공부방 페이지 강제 종료 및 사용자 강제 퇴장
  backend/src/sfu/sfu.gateway.ts
  backend/src/sfu/sfu.module.ts
  frontend/src/components/common/MenuList.tsx
  frontend/src/components/common/ViewConditionCheckBox.tsx
  frontend/src/components/studyRoom/ParticipantsSideBar.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend, 💻 backend

#119 공부방 페이지 접속 시 무조건 공부방 정보 GET API 호출
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 🚨fix

#120 미디어 트랙, 데이터 채널 통신 분리
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend

#123 미디어 트랙, 데이터 채널 분리 오류 수정
  backend/src/sfu/sfu.gateway.ts
Labels: 💻 backend, 🚨fix

#125 version 0.0.15
  backend/src/redis/redis-cache.service.ts
  backend/src/sfu/sfu.gateway.ts
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 💻 backend

#127 version 0.0.16
  backend/src/config/cors.config.ts
Labels: 💻 backend, 🚨fix

#128 배포 cors 설정의 origin 수정
  backend/src/config/cors.config.ts
Labels: 💻 backend, 🚨fix

#130 version 0.0.17
  frontend/public/index.html
Labels: 🎨 frontend, 🚨fix

#131 html title 수정
  frontend/public/index.html
Labels: 🎨 frontend, 🚨fix

#133 version 0.0.19
  frontend/src/components/common/Modal.tsx
Labels: 🎨 frontend

#137 Feat/edit create room condition
  backend/src/study-room/dto/createRoom.dto.ts
  frontend/src/components/studyRoomList/StudyRoomItem.tsx
  frontend/src/components/studyRoomList/TagInput.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend, 💻 backend

#138 FE 공부방 페이지 리팩토링
  frontend/src/assets/icons/monitor-off.svg
  frontend/src/assets/icons/monitor.svg
  frontend/src/components/studyRoom/BottomBar.tsx
  frontend/src/components/studyRoom/ChatList.tsx
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/hooks/useSfu.ts
  frontend/src/hooks/useStudyRoomPage.ts
  frontend/src/pages/MeshPage.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/pages/StudyRoomPage.tsx
  frontend/src/sockets/sfuSocket.ts
Labels: 🎨 frontend, 🧹refactor

#140 공부방 하단메뉴바 button name 수정
  frontend/src/components/studyRoom/BottomBar.tsx
Labels: 🎨 frontend, 🚨fix

#142 404 페이지 추가
  frontend/src/assets/404.jpg
  frontend/src/components/common/CustomButton.tsx
  frontend/src/pages/NotFoundPage.tsx
  frontend/src/routes/Router.tsx
Labels: 🎨 frontend

#146 API 예외 응답 body 형식 통일
  backend/src/filter/all-exceptions.filter.ts
  backend/src/user/user.service.ts
  frontend/src/hooks/useAxios.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
Labels: 🎨 frontend, 💻 backend

#149 공부방 입장 가능 여부를 확인하는 API들을 통합
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.service.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  frontend/src/App.tsx
  frontend/src/axios/requests/checkEnterableRequest.ts
  frontend/src/axios/requests/checkIsFullRequest.ts
  frontend/src/axios/requests/checkIsInRoomRequest.ts
  frontend/src/components/common/StudyRoomGuard.tsx
  frontend/src/hooks/useSfu.ts
Labels: 🎨 frontend, 💻 backend

#151 공부방 삭제 직후 navigate 시 replace 옵션 부여
  frontend/src/components/studyRoom/BottomBar.tsx
Labels: 🎨 frontend, 🚨fix

#153 비디오 요소 비율 유지 반응형 크기 적용
  backend/src/redis/redis-cache.controller.ts
  backend/src/redis/redis-cache.service.ts
  backend/src/sfu/sfu.gateway.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  frontend/src/App.tsx
  frontend/src/axios/requests/checkEnterableRequest.ts
  frontend/src/axios/requests/checkIsFullRequest.ts
  frontend/src/axios/requests/checkIsInRoomRequest.ts
  frontend/src/components/common/StudyRoomGuard.tsx
  frontend/src/components/studyRoom/BottomBar.tsx
  frontend/src/components/studyRoom/NicknameWrapper.tsx
  frontend/src/components/studyRoom/RemoteVideo.tsx
  frontend/src/hooks/useSfu.ts
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend

#154 닉네임 및 캠 미연결 사용자 표시
  backend/src/sfu/sfu.gateway.ts
  frontend/src/components/studyRoom/NicknameWrapper.tsx
  frontend/src/components/studyRoom/RemoteVideo.tsx
  frontend/src/hooks/useSfu.ts
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 💻 backend

#157 에러페이지 생성 및 이동 처리
  frontend/src/App.tsx
  frontend/src/hooks/useAxios.ts
  frontend/src/index.tsx
  frontend/src/pages/ErrorPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/routes/Router.tsx
Labels: 🎨 frontend

#158 에러페이지 접근/이동 관련 오류 수정
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/pages/ErrorPage.tsx
Labels: 🎨 frontend, 🚨fix

#165 #156 feat: 캔버스 clear 버튼 추가
  frontend/src/components/common/CustomButton.tsx
  frontend/src/components/studyRoom/Canvas.tsx
Labels: 🎨 frontend

#166 #162 refactor: FE 타입 정리
  frontend/src/App.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/studyRoom/NicknameWrapper.tsx
  frontend/src/components/studyRoom/ParticipantsSideBar.tsx
  frontend/src/components/studyRoom/VideoItem.tsx
  frontend/src/hooks/useSfu.ts
  frontend/src/hooks/useStudyRoomPage.ts
  frontend/src/pages/StudyRoomListPage.tsx
  frontend/src/types/recoil.types.ts
  frontend/src/types/studyRoom.types.ts
Labels: 🎨 frontend, 🧹refactor

#167 #161 feat: 로딩, 에러 응답 관련 처리 개선
  frontend/src/components/common/MainSideBar.tsx
  frontend/src/components/common/StudyRoomGuard.tsx
  frontend/src/components/studyRoom/BottomBar.tsx
  frontend/src/hooks/useAxios.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/SignupPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend

#177 hotfix: import 오류 수정
  backend/src/redis/redis-cache.module.ts
Labels: 🚨fix

#176 hotfix: import 오류 수정
  backend/src/redis/redis-cache.module.ts
Labels: 🚨fix

#178 version 0.0.27
  backend/src/sfu/sfu.gateway.ts
Labels: 🚨fix

#180 #135 refactor: any type 변경
  backend/src/redis/redis-cache.service.ts
  backend/src/sfu/sfu.gateway.ts
  backend/src/socket/socket.gateway.ts
  backend/src/study-room/study-room.controller.ts
  backend/src/study-room/study-room.service.ts
  media-server/src/sfu/sfu.gateway.ts
Labels: 💻 backend, 🧹refactor

#185 version 0.0.29
  backend/src/sfu/sfu.gateway.ts
Labels: 🚨fix

#187 version 0.0.30
  backend/src/sfu/sfu.gateway.ts
Labels: 🚨fix

#188 version 0.0.31
  backend/src/sfu/sfu.gateway.ts
  frontend/src/components/studyRoom/BottomBar.tsx
  frontend/src/hooks/useSfu.ts
Labels: 🚨fix

#189 version 0.0.32
  media-server/src/sfu/sfu.module.ts
Labels: 💻 backend, 🚨fix

#193 Refactor/study room list page
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/common/ViewConditionCheckBox.tsx
  frontend/src/components/studyRoomList/CreateNewRoomModal.tsx
  frontend/src/components/studyRoomList/SearchRoomResult.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend, 🧹refactor

#194 version 0.0.34
  frontend/src/components/studyRoom/Canvas.tsx
  frontend/src/components/studyRoom/ChatList.tsx
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/components/studyRoom/ParticipantsSideBar.tsx
  frontend/src/hooks/useSfu.ts
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 🚨fix

#196 version 0.0.36
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/common/ViewConditionCheckBox.tsx
  frontend/src/components/studyRoomList/CreateNewRoomModal.tsx
  frontend/src/components/studyRoomList/SearchRoomResult.tsx
  frontend/src/pages/SfuPage.tsx
  frontend/src/pages/StudyRoomListPage.tsx
Labels: 🎨 frontend

#197 Hotfix/fe chat mic
  frontend/src/components/studyRoom/Canvas.tsx
  frontend/src/components/studyRoom/ChatList.tsx
  frontend/src/components/studyRoom/ChatSideBar.tsx
  frontend/src/components/studyRoom/ParticipantsSideBar.tsx
  frontend/src/hooks/useSfu.ts
  frontend/src/pages/SfuPage.tsx
Labels: 🎨 frontend, 🚨fix

#200 version 0.0.38
  frontend/src/components/studyRoomList/CreateNewRoomModal.tsx
Labels: 🎨 frontend, 🚨fix

#201 fix: 공부방 생성시 최대 인원 반영 안되는 오류 해결
  frontend/src/components/studyRoomList/CreateNewRoomModal.tsx
Labels: 🎨 frontend, 🚨fix

#202 React.memo 적용
  frontend/src/components/common/MainSideBar.tsx
  frontend/src/components/common/SearchBar.tsx
  frontend/src/components/studyRoomList/GlobalChat.tsx
  frontend/src/components/studyRoomList/SearchRoomResult.tsx
Labels: 🎨 frontend, 🧹refactor

#204 Refactor/fe performance
  frontend/public/index.html
  frontend/src/routes/Router.tsx
  frontend/src/styles/index.css
Labels: 🎨 frontend, 🧹refactor

#207 공부방 생성 모달 버그 수정
  frontend/src/components/common/CustomInput.tsx
  frontend/src/components/studyRoomList/CreateNewRoomModal.tsx
Labels: 🎨 frontend, 🚨fix
